body {
    background-color: #F9F7FE;
    font-family: 'Roboto', sans-serif;
}

 footer {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 25px
 }

 a {
    color: #885df1;
 }

.app-body {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #edeaf5;
    max-width: 600px;
    display: block;
    margin: 45px auto;
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin: 10px 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f9f7fe;
}

.search-form-input {
   background-color: #f9f7fe;
   border: none;
   border-radius: 6px;
   width: 470px;
   font-size: 16px;
   padding: 15px 20px; 
}

.search-button {
    background: #885df1;
    padding: 15px 20px; 
    border: none;
   border-radius: 6px;
   color: white;
   font-size: 16px;
   margin-left: 5px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    border-bottom: 1px solid #f9f7fe;
}

.city {
    font-size: 40px;
}

.weather-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 22px;
    font-weight: light; 
    margin: 15px 0;
}

strong.value {
    color: #f65282;
}

.temperature-container {
    font-size: 88px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}


.weather-emoji {
    font-size: 60px;
    padding: 15px 10px 0 0;
}

.temperature-unit {
    font-size: 28px;
    padding-top: 12px;
    font-weight: lighter;
}

